Repository menloresearch/jan, pull requests merged in 2025-07, with the labels that each got.

#5290 🐛 fix: should not pop shell window on MCP run
  src-tauri/Cargo.toml
  src-tauri/src/core/mcp.rs
Labels: os: windows

#5854 fix: autoqa prompt template
  autoqa/tests/new-user/1-user-start-chatting.txt
Labels: platform: desktop

#5934 chore: revert back to passive mode on windows installer
  src-tauri/tauri.bundle.windows.nsis.template
Labels: os: windows, platform: desktop

#5945 chore: uninstall when upgrading windows installer
  src-tauri/tauri.bundle.windows.nsis.template
Labels: os: windows, platform: desktop
